body {
    background-color: rgba(255, 255, 255, 7);
    overflow-y: scroll;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f6b8e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    font-weight: 200;
}


main {
    display: flex;
    justify-content: row;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 7);
}

.shop-link {
    color: black;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.monki-link {
    color: black;
    font-size: 4rem;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25rem;
}

.links-container {
    display: flex;
    justify-content: flex-start;
}


.menu-link {
    color: black;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-decoration: none;
}

.search-product-link {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 20rem;
}

.swedish-link,
.bi-person,
.bi-suit-heart,
.bi-handbag {
    margin-right: 20px;
    color: black;

}

.box {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    background-color: #f6b8e3;
    color: rgb(31, 49, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100;
    cursor: pointer;

}

h1 {
    margin-bottom: 0rem;
}

.button-shop-now {
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(31, 49, 58);
    border: none;
    padding: 15px 100px;
    cursor: pointer;
    margin-bottom: 5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    justify-content: center;
    padding: 10px 40 px;
    font-size: 16 px;
    color: #ffffff;
    background-color: rgb(31, 49, 58);
    border: none;
    cursor: pointer;
}